<aside id="categories-2" class="widget widget_categories">
	<h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Categories</span></h4>
	<ul>
		<li class="cat-item cat-item-7"><a href="category/featured/index.html">Featured <span
					class="category-item-count">(6)</span></a>
		</li>
		<li class="cat-item cat-item-11"><a href="category/memories/life/index.html">Life <span
					class="category-item-count">(7)</span></a>
		</li>
		<li class="cat-item cat-item-9"><a
				href="category/memories/photography/index.html">Photography <span
					class="category-item-count">(5)</span></a>
		</li>
		<li class="cat-item cat-item-10"><a href="category/memories/stories/index.html">Stories
				<span class="category-item-count">(5)</span></a>
		</li>
		<li class="cat-item cat-item-12"><a href="category/travel/index.html">Travel <span
					class="category-item-count">(5)</span></a>
		</li>
	</ul>
</aside>