<aside id="penci_latest_news_widget-2" class="widget penci_latest_news_widget">
	<h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Recent Posts</span></h4>
	<ul id="penci-latestwg-6391" class="side-newsfeed penci-feed-2columns penci-2columns-feed">
		<li class="penci-feed">
			<div class="side-item">
				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
						data-src="/home/images/storie2-263x175.jpg"
						href="light-in-the-dark/index.html" title="Light In The Dark"></a>
				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="light-in-the-dark/index.html" rel="bookmark"
							title="Light In The Dark">
							Light In The Dark </a>
					</h4>
					<span class="side-item-meta"><time class="entry-date published"
							datetime="2017-10-16T09:43:01+00:00">October 16, 2017</time></span>
				</div>
			</div>
		</li>
		<li class="penci-feed">
			<div class="side-item">

				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
						data-src="/home/images/demo-263x175.jpg"
						href="autumn-in-west-coat/index.html" title="Autumn In West Coat"></a>

				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="autumn-in-west-coat/index.html" rel="bookmark"
							title="Autumn In West Coat">
							Autumn In West Coat </a>
					</h4>
					<span class="side-item-meta"><time class="entry-date published"
							datetime="2017-10-16T09:42:48+00:00">October 16, 2017</time></span>
				</div>
			</div>
		</li>
		<li class="penci-feed">
			<div class="side-item">

				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
						data-src="/home/images/home-263x175.jpg"
						href="find-your-way-home/index.html" title="Find Your Way Home"></a>

				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="find-your-way-home/index.html" rel="bookmark"
							title="Find Your Way Home">
							Find Your Way Home </a>
					</h4>
					<span class="side-item-meta"><time class="entry-date published"
							datetime="2017-10-16T09:42:31+00:00">October 16, 2017</time></span>
				</div>
			</div>
		</li>
		<li class="penci-feed">
			<div class="side-item">

				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
						data-src="/home/images/new-263x175.jpg"
						href="new-year-eve-in-new-york/index.html"
						title="New Year Eve In New York"></a>

				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="new-year-eve-in-new-york/index.html" rel="bookmark"
							title="New Year Eve In New York">
							New Year Eve In New York </a>
					</h4>
					<span class="side-item-meta"><time class="entry-date published"
							datetime="2017-10-16T09:42:05+00:00">October 16, 2017</time></span>
				</div>
			</div>
		</li>
		<li class="penci-feed">
			<div class="side-item">

				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
						data-src="/home/images/photo-263x175.jpg"
						href="the-beauty-of-nature/index.html" title="The Beauty Of Nature"></a>
				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="the-beauty-of-nature/index.html" rel="bookmark"
							title="The Beauty Of Nature">
							The Beauty Of Nature </a>
					</h4>
					<span class="side-item-meta"><time class="entry-date published"
							datetime="2017-10-16T09:41:57+00:00">October 16, 2017</time></span>
				</div>
			</div>
		</li>
		<li class="penci-feed">
			<div class="side-item">

				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
						data-src="/home/images/alone-263x175.jpg"
						href="how-to-be-alone/index.html" title="How To Be Alone"></a>

				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="how-to-be-alone/index.html" rel="bookmark" title="How To Be Alone">
							How To Be Alone </a>
					</h4>
					<span class="side-item-meta"><time class="entry-date published"
							datetime="2017-10-16T09:41:48+00:00">October 16, 2017</time></span>
				</div>
			</div>
		</li>
	</ul>
</aside>