<aside id="penci_popular_news_widget-2"
	class="widget penci_popular_news_widget">
	<h4 class="widget-title penci-border-arrow">
		<span class="inner-arrow">Popular Posts</span>
	</h4>
	<ul id="penci-popularwg-3250"
		class="side-newsfeed display-order-numbers">
		<li class="penci-feed"><span class="order-border-number">
				<span class="number-post">1</span>
		</span>
			<div class="side-item">
				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size"
						rel="bookmark" data-src="/home/images/portrait-263x175.jpg"
						href="the-art-of-being-an-introvert/index.html"
						title="The Art Of Being An Introvert"></a>
				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="the-art-of-being-an-introvert/index.html" rel="bookmark"
							title="The Art Of Being An Introvert"> The Art Of Being An
							Introvert </a>
					</h4>
					<span class="side-item-meta"><time
							class="entry-date published" datetime="2017-10-16T09:36:30+00:00">October
							16, 2017</time></span>
				</div>
			</div></li>
		<li class="penci-feed"><span class="order-border-number">
				<span class="number-post">2</span>
		</span>
			<div class="side-item">
				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size"
						rel="bookmark" data-src="/home/images/new-263x175.jpg"
						href="new-year-eve-in-new-york/index.html"
						title="New Year Eve In New York"></a>
				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="new-year-eve-in-new-york/index.html" rel="bookmark"
							title="New Year Eve In New York"> New Year Eve In New York </a>
					</h4>
					<span class="side-item-meta"><time
							class="entry-date published" datetime="2017-10-16T09:42:05+00:00">October
							16, 2017</time></span>
				</div>
			</div></li>
		<li class="penci-feed"><span class="order-border-number">
				<span class="number-post">3</span>
		</span>
			<div class="side-item">
				<div class="side-image">
					<a class="penci-image-holder penci-lazy small-fix-size"
						rel="bookmark" data-src="/home/images/storie2-263x175.jpg"
						href="light-in-the-dark/index.html" title="Light In The Dark"></a>
				</div>
				<div class="side-item-text">
					<h4 class="side-title-post">
						<a href="light-in-the-dark/index.html" rel="bookmark"
							title="Light In The Dark"> Light In The Dark </a>
					</h4>
					<span class="side-item-meta"><time
							class="entry-date published" datetime="2017-10-16T09:43:01+00:00">October
							16, 2017</time></span>
				</div>
			</div></li>
	</ul>
</aside>