<nav id="sidebar-nav" class="header-1" role="navigation" itemscope
	itemtype="http://schema.org/SiteNavigationElement">
	<div id="sidebar-nav-logo">
		<a href="index.html"><img class="penci-lazy" src="/home/images/logo.png"
				data-src="/home/images/logo.png"
				alt="Soledad" /></a>
	</div>
	<div th:replace="~{fragments/home/menu-socials}"></div>
	<ul id="menu-menu-1" class="menu">
		<li id="menu-item-126"
			class="megamenu menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-126">
			<a href="/">Home</a>
		</li>
		<li id="menu-item-271"
			class="menu-item menu-item-type-taxonomy menu-item-object-category penci-mega-menu menu-item-271"><a
				href="/category">Memories</a>
			<ul class="sub-menu">
				<li id="menu-item-0" class="menu-item-0">
					<div class="penci-megamenu">
						<div class="penci-mega-child-categories">
							<a class="mega-cat-child cat-active all-style" href="category/memories/index.html"
								data-id="penci-mega-8"><span>All</span></a>
							<a class="mega-cat-child" href="category/memories/life/index.html"
								data-id="penci-mega-11"><span>Life</span></a>
							<a class="mega-cat-child" href="category/memories/photography/index.html"
								data-id="penci-mega-9"><span>Photography</span></a>
							<a class="mega-cat-child" href="category/memories/stories/index.html"
								data-id="penci-mega-10"><span>Stories</span></a>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li id="menu-item-272"
			class="menu-item menu-item-type-taxonomy menu-item-object-category penci-mega-menu menu-item-272"><a
				href="category/travel/index.html">Travel</a>
			<ul class="sub-menu">
				<li class="menu-item-0">
					<div class="penci-megamenu">
						<div class="penci-content-megamenu">
							<div class="penci-mega-latest-posts col-mn-5 mega-row-1">
								<div class="penci-mega-row penci-mega-12 row-active">
									<div class="penci-mega-post">
										<div class="penci-mega-thumbnail">
											<span class="mega-cat-name">
												<a href="category/travel/index.html">
													Travel </a>
											</span>
											<a class="penci-image-holder penci-lazy"
												data-src="/home/images/new-585x390.jpg"
												href="new-year-eve-in-new-york/index.html"
												title="New Year Eve In New York">
											</a>
										</div>
									</div>
									<div class="penci-mega-post">
										<div class="penci-mega-thumbnail">
											<span class="mega-cat-name">
												<a href="category/travel/index.html">
													Travel </a>
											</span>
											<a class="penci-image-holder penci-lazy"
												data-src="/home/images/iceland-585x390.jpg"
												href="amazing-time-in-iceland/index.html"
												title="Amazing Time In Iceland">
											</a>
										</div>
									</div>
									<div class="penci-mega-post">
										<div class="penci-mega-thumbnail">
											<span class="mega-cat-name">
												<a href="category/travel/index.html">
													Travel </a>
											</span>
											<a class="penci-image-holder penci-lazy"
												data-src="/home/images/sunset-585x390.jpg"
												href="photo-journal-sunset-in-yosemite/index.html"
												title="Journal / Sunset In Yosemite">
											</a>
										</div>
									</div>
									<div class="penci-mega-post">
										<div class="penci-mega-thumbnail">
											<span class="mega-cat-name">
												<a href="category/travel/index.html">
													Travel </a>
											</span>
											<a class="penci-image-holder penci-lazy"
												data-src="/home/images/view-585x390.jpg"
												href="beautiful-view-from-the-ocean/index.html"
												title="Beautiful View From The Ocean">
											</a>
										</div>
									</div>
									<div class="penci-mega-post">
										<div class="penci-mega-thumbnail">
											<span class="mega-cat-name">
												<a href="category/travel/index.html">
													Travel </a>
											</span>
											<a class="penci-image-holder penci-lazy"
												data-src="/home/images/travel1-585x390.jpg"
												href="in-the-wild-of-canada/index.html"
												title="In The Wild Of Canada">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</li>
			</ul>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
				target="_blank" href="#">About Me</a>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
			target="_blank" href="#">Contact Me</a>
	</li>
	</ul>
</nav>