<div id="widget-area" class="penci-lazy" data-src="/home/images/footer-bg.jpg">
	<div class="container">
		<div class="footer-widget-wrapper footer-widget-style-1">
			<aside id="penci_latest_news_widget-3" class="widget penci_latest_news_widget">
				<h4 class="widget-title penci-border-arrow"><span class="inner-arrow">To Read</span></h4>
				<ul id="penci-latestwg-2848" class="side-newsfeed">
					<li class="penci-feed">
						<div class="side-item">
							<div class="side-image">
								<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
									data-src="/home/images/portrait-263x175.jpg"
									href="the-art-of-being-an-introvert/index.html"
									title="The Art Of Being An Introvert"></a>
							</div>
							<div class="side-item-text">
								<h4 class="side-title-post">
									<a href="the-art-of-being-an-introvert/index.html" rel="bookmark"
										title="The Art Of Being An Introvert">
										The Art Of Being An Introvert </a>
								</h4>
								<span class="side-item-meta"><time class="entry-date published"
										datetime="2017-10-16T09:36:30+00:00">October 16, 2017</time></span>
							</div>
						</div>
					</li>
					<li class="penci-feed">
						<div class="side-item">
							<div class="side-image">
								<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
									data-src="/home/images/travel1-263x175.jpg"
									href="in-the-wild-of-canada/index.html" title="In The Wild Of Canada"></a>
							</div>
							<div class="side-item-text">
								<h4 class="side-title-post">
									<a href="in-the-wild-of-canada/index.html" rel="bookmark"
										title="In The Wild Of Canada">
										In The Wild Of Canada </a>
								</h4>
								<span class="side-item-meta"><time class="entry-date published"
										datetime="2017-10-16T09:36:11+00:00">October 16, 2017</time></span>
							</div>
						</div>
					</li>
					<li class="penci-feed">
						<div class="side-item">

							<div class="side-image">
								<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
									data-src="/home/images/photo1-263x175.jpg"
									href="lost-in-the-wonderland-of-cloud/index.html"
									title="Lost In The Wonderland Of Cloud"></a>

							</div>
							<div class="side-item-text">
								<h4 class="side-title-post">
									<a href="lost-in-the-wonderland-of-cloud/index.html" rel="bookmark"
										title="Lost In The Wonderland Of Cloud">
										Lost In The Wonderland Of Cloud </a>
								</h4>
								<span class="side-item-meta"><time class="entry-date published"
										datetime="2017-10-16T09:35:57+00:00">October 16, 2017</time></span>
							</div>
						</div>
					</li>
				</ul>

			</aside>
		</div>
		<div class="footer-widget-wrapper footer-widget-style-1">
			<aside id="penci_insta_slider-2" class="widget penci-insta-slider">
				<h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Instagram</span></h4>
				<div class="jr-insta-thumb">
					<ul class="no-bullet thumbnails no-border jr_col_3">
						<li>
							<a href="https://www.instagram.com/p/B1QkMqthU8i/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/1.jpg"
									alt="Instagram Image" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/B1PMQQjhjet/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/2.jpg"
									alt="Instagram Image" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/B1OPSmthyGS/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/3.jpg"
									alt="Instagram Image" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/B1MJHBmBLAh/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/4.jpg"
									alt="Instagram Image" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/B1LxCzrhESN/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/5.jpg"
									alt="Instagram Image" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/B1Iw7jMhz3d/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/6.jpg"
									alt="Instagram Image" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/B1GuRSZBxn9/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/7.jpg"
									alt="Instagram Image" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/B1EEcEhhsca/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/8.jpg"
									alt="Instagram Image" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/B0_adsjheBZ/" target="_blank">
								<img class="instagram-square-lazy penci-lazy"
									src="/home/images/penci-holder.png"
									data-src="/home/images/instagram/9.jpg"
									alt="Instagram Image" />
							</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>
		<div class="footer-widget-wrapper footer-widget-style-1 last">
			<aside id="penci_popular_news_widget-2" class="widget penci_popular_news_widget">
				<h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Popular Posts</span></h4>
				<ul id="penci-popularwg-3250" class="side-newsfeed display-order-numbers">
					<li class="penci-feed">
						<span class="order-border-number">
							<span class="number-post">1</span>
						</span>
						<div class="side-item">
							<div class="side-image">
								<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
									data-src="/home/images/portrait-263x175.jpg"
									href="the-art-of-being-an-introvert/index.html"
									title="The Art Of Being An Introvert"></a>
							</div>
							<div class="side-item-text">
								<h4 class="side-title-post">
									<a href="the-art-of-being-an-introvert/index.html" rel="bookmark"
										title="The Art Of Being An Introvert">
										The Art Of Being An Introvert </a>
								</h4>
								<span class="side-item-meta"><time class="entry-date published"
										datetime="2017-10-16T09:36:30+00:00">October 16, 2017</time></span>
							</div>
						</div>
					</li>
					<li class="penci-feed">
						<span class="order-border-number">
							<span class="number-post">2</span>
						</span>
						<div class="side-item">
							<div class="side-image">
								<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
									data-src="/home/images/new-263x175.jpg"
									href="new-year-eve-in-new-york/index.html"
									title="New Year Eve In New York"></a>
							</div>
							<div class="side-item-text">
								<h4 class="side-title-post">
									<a href="new-year-eve-in-new-york/index.html" rel="bookmark"
										title="New Year Eve In New York">
										New Year Eve In New York </a>
								</h4>
								<span class="side-item-meta"><time class="entry-date published"
										datetime="2017-10-16T09:42:05+00:00">October 16, 2017</time></span>
							</div>
						</div>
					</li>
					<li class="penci-feed">
						<span class="order-border-number">
							<span class="number-post">3</span>
						</span>
						<div class="side-item">
							<div class="side-image">
								<a class="penci-image-holder penci-lazy small-fix-size" rel="bookmark"
									data-src="/home/images/storie2-263x175.jpg"
									href="light-in-the-dark/index.html" title="Light In The Dark"></a>
							</div>
							<div class="side-item-text">
								<h4 class="side-title-post">
									<a href="light-in-the-dark/index.html" rel="bookmark"
										title="Light In The Dark">
										Light In The Dark </a>
								</h4>
								<span class="side-item-meta"><time class="entry-date published"
										datetime="2017-10-16T09:43:01+00:00">October 16, 2017</time></span>
							</div>
						</div>
					</li>
				</ul>
			</aside>
		</div>
	</div>
</div>